<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./tests/bootstrap.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.4/phpunit.xsd">
  <testsuites>
    <testsuite name="Transmission Test Suite">
      <directory suffix="Test.php">./tests/Transmission/</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./src/Transmission/</directory>
    </include>
  </source>
</phpunit>
